body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.span6 {
	max-width:48%;
	float: left;
;
	text-align: center;
	padding:30px;

}

.tab-head {
	max-width:48%;
	text-align: center;
	padding:30px;
}